.footer {
    margin: 10px 0 5px 0;
}

.footer__text {
    font-size: 1.2rem;
}

.footer__link {
    color: #333333;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}