.grid-options {
    position: relative;
    height: 50px;
    width: 80%;
    transition: 0.5s all;
    overflow: hidden;
    @include flex-row;
    &--expanded {
        height: 600px;
        transition: 0.5s all;
    }
}

.grid-options__button {
    cursor: pointer;
    background: none;
    border: none;
    border: 1px solid black;
    width: 15rem;
    height: 3rem;
    border-radius: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
    transition: 0.3s all;
    &:hover {
        transition: 0.3s all;
        background-color: #333333;
        color: #ffffff;
    }
}

.grid-options__help-box {
    position: fixed;
    z-index: 20;
    top: -200vh;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0,0,0, 0.7);
    transition: 0.5s all;
    &--visible {
        top: 0;
        transition: 0.5s all;
    }
}

.grid-options__article {
    width: 90vw;
    max-height: 90vh;
    margin: 5vh auto;
    background-color: rgba(255,255,255,0.9);
    @include flex-column;
    padding: 0 3rem 2rem 3rem;
    position: relative;
    overflow-y: auto;
}

.grid-options__close-modal {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: none;
    border: none;
    font-size: 2rem;
    color: #333333;
}

.grid-options__title {
    font-size: 2rem;
    text-align: center;
}

.grid-options__subtitle {
    font-size: 1.6rem;
    font-weight: bold;
}

.grid-options__paragraph {
    font-size: 1.4rem;
    margin: 0.3rem;  
    &--last {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}

.grid-options__code {
    display: inline;
    font-size: 1.4rem;
    margin: 0.3rem;  
    background-color: rgb(210,210,210);
}