.grid-container {
    display: grid;
    width: 960px;
    height: 960px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-flow: dense;
    transition: 0.5s all;
    position: relative;
}

.grid-item {
    transition: 0.5s all;
    position: relative;
}

.grid-item__button {
    cursor: pointer;
    position: absolute;
    border: none;
    background: transparent;
    color: #333333;
    opacity: 0.8;
    transition: 0.3s all;
    &:hover {
        color: #111111;
        opacity: 1;
        transition: 0.3s all;
    }
    &--edit {
        top: 1.5rem;
        left: 0.5rem;
    }
    &--delete {
        top: 1.5rem;
        right: 0.5rem;
    }
    &--add, &--help {
        top: 1rem;
        border: 1px solid black;
        width: 15rem;
        height: 3rem;
        border-radius: 1.5rem;
        top: 1rem;
        &:hover, &:focus {
            transition: 0.3s all;
            background-color: #333333;
            color: #ffffff;
        }
    }
    &--add {
        left: 0;
        padding: 0 2rem 0 0;
    }
    &--help {
        right: 0;
        padding: 0 1rem 0 0;
    }
    &--accept {
        font-size: 2rem;
        bottom: 1rem;
        left: 25%;
    }
    &--cancel-inner {
        font-size: 2rem;
        bottom: 1rem;
        right: 25%;
    }
}

.grid-item__options {
    margin-top: 3rem;
}

.grid-item__label {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
    color: #111111;
}

.grid-item__input {
    display: block;
    width: 40%;
    height: 2rem;
    text-align: center;
    margin: 0 auto;
    border-radius: 1.5rem;
    border: 1px solid #000000;
}