@import '_mixins.scss';
@import '_grid.scss';
@import '_grid-options.scss';
@import '_options-form.scss';
@import '_footer.scss';

// Main Styles

html {
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
}
body {
    box-sizing: border-box;
    font-size: 1.6rem;
    color: #333;
}


// Main layout

.container {
    @include flex-center-column;
}

.container__title {
    color: #333333;
    margin-top: 5rem;
    margin-bottom: 0;
}

.container__subtitle {
    margin-top: 0;
}

.section {
    background-color: #ffffff;
    @include flex-center-row;
    flex-wrap: wrap;
    @include mq-min(1201px) {
        width: 117rem;
    }
    @include mq-max(1200px) {
        width: 100%;
    }
}

.section__title {
    flex-basis: 100%;
    text-align: center;
}

// Misc items

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}
:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}