@import '_mixins.scss';
@import '_social-nav.scss';
@import '_grid.scss';
@import '_grid-options.scss';
@import '_options-form.scss';
@import '_bonus-materials.scss';
@import '_footer.scss';

// Main Styles

html {
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
}
body {
    box-sizing: border-box;
    font-size: 1.6rem;
    color: #333;
}

.overflow-on {
    overflow-x: hidden;
    overflow-y: auto;
}

.overflow-off {
    overflow-x: hidden;
    overflow-y: hidden;
}

.github-button {
    position: fixed;
    top: 2rem;
    left: 2rem;
}

// Main layout

.container {
    @include flex-center-column;
}

.container__title {
    color: #333333;
    margin-top: 5rem;
    margin-bottom: 0;
    @include mq-max(800px) {
        margin: 1rem 1rem 2rem 1rem;
        font-size: 2.5rem;
    }
}

.container__subtitle {
    margin: 0;
    font-size: 1.6rem;
    @include mq-max(800px) {
        font-size: 1.4rem;
        margin: 0.5rem 0;
        padding: 0 1rem;
        text-align: center;
    }
    &--bold {
        font-weight: bold;
        margin-top: 1rem;
    }
}

.section {
    background-color: #ffffff;
    @include flex-center-row;
    flex-wrap: wrap;
    @include mq-min(1201px) {
        width: 117rem;
    }
    @include mq-max(1200px) {
        width: 100%;
    }
}

.section__title {
    flex-basis: 100%;
    text-align: center;
}

.github-stars {
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    @include mq-max(800px) {
        position: static;
        @include flex-center-row;
        margin-top: 1rem;
    }
}

// Misc items

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}
:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    text-indent: 1rem;
    padding: 1rem;
}