.social-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10; }
  @media screen and (max-width: 800px) {
    .social-nav {
      position: static; } }

.social-nav__list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.social-nav__item {
  margin: 0 0.5rem; }

.social-nav__link {
  font-size: 2rem;
  text-decoration: none;
  color: #333333;
  opacity: 0.7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all; }
  .social-nav__link:hover {
    color: #111111;
    opacity: 1;
    -webkit-transition: 0.3s all;
    transition: 0.3s all; }

.grid-container {
  display: grid;
  width: 90%;
  height: 950px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-auto-flow: dense;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  position: relative; }
  @media screen and (max-width: 800px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 5px;
      grid-row-gap: 5px; } }

.grid-item {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  position: relative;
  overflow: auto;
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box; }

.grid-item__button {
  cursor: pointer;
  position: absolute;
  border: none;
  background: transparent;
  color: #333333;
  opacity: 0.8;
  -webkit-transition: 0.3s all;
  transition: 0.3s all; }
  .grid-item__button:hover {
    color: #111111;
    opacity: 1;
    -webkit-transition: 0.3s all;
    transition: 0.3s all; }
  .grid-item__button--delete {
    top: 1.5rem;
    right: 0.5rem; }
  .grid-item__button--apply {
    display: block;
    position: static;
    margin: 1rem auto; }

.grid-item__options {
  padding: 3rem 1rem 1rem 1rem; }
  @media screen and (max-width: 800px) {
    .grid-item__options {
      padding-top: 4rem; } }

.grid-item__label {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-size: 1.4rem;
  color: #111111; }

.grid-item__input {
  display: block;
  width: 40%;
  height: 2rem;
  text-align: center;
  margin: 0 auto;
  border-radius: 1.5rem;
  border: 1px solid #000000; }
  @media screen and (max-width: 800px) {
    .grid-item__input {
      width: 80%; } }

.grid-options {
  position: relative;
  height: 0;
  width: 80%;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .grid-options--expanded {
    height: 700px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }
    @media screen and (max-width: 800px) {
      .grid-options--expanded {
        height: 800px; } }

.grid-options__controls {
  width: 90%;
  margin: 1rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 3rem; }
  @media screen and (max-width: 800px) {
    .grid-options__controls {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 150px; } }

.grid-options__button {
  cursor: pointer;
  background: none;
  border: 1px solid black;
  width: 15rem;
  height: 3rem;
  border-radius: 1.5rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all; }
  .grid-options__button:hover {
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    background-color: #111111;
    color: #ffffff; }
  .grid-options__button--add {
    padding: 0 2rem 0 0; }
  .grid-options__button--help {
    padding: 0 1rem 0 0; }
  .grid-options__button--options {
    padding: 0 1rem 0 0; }
  @media screen and (max-width: 800px) {
    .grid-options__button {
      margin: 1rem 0; } }
  .grid-options__button--apply {
    margin: 0 auto;
    padding: 0 0 0 1rem; }

.grid-options__help-box {
  position: fixed;
  z-index: 20;
  top: -300vh;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }
  .grid-options__help-box--visible {
    top: 0;
    -webkit-transition: 0.5s all;
    transition: 0.5s all; }

.grid-options__article {
  width: 90vw;
  max-height: 90vh;
  margin: 5vh auto;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 5rem 2rem 5rem;
  position: relative;
  overflow-y: auto; }
  @media screen and (max-width: 800px) {
    .grid-options__article {
      padding: 0 2rem 1rem 2rem; } }

.grid-options__close-modal {
  cursor: pointer;
  position: absolute;
  top: 4rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: #333333; }
  @media screen and (max-width: 800px) {
    .grid-options__close-modal {
      top: 1rem; } }

.grid-options__title {
  font-size: 2rem;
  text-align: center; }
  @media screen and (max-width: 800px) {
    .grid-options__title {
      margin-top: 5rem; } }

.grid-options__subtitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.5rem 2rem; }
  @media screen and (max-width: 800px) {
    .grid-options__subtitle {
      margin: 0.5rem 1rem; } }

.grid-options__paragraph {
  font-size: 1.4rem;
  margin: 0.3rem 2rem; }
  @media screen and (max-width: 800px) {
    .grid-options__paragraph {
      margin: 0.5rem 1rem; } }
  .grid-options__paragraph--last {
    padding-top: 1rem;
    padding-bottom: 2rem; }
  .grid-options__paragraph--italic {
    font-style: italic; }

.grid-options__code {
  display: inline;
  font-size: 1.4rem;
  margin: 0.3rem;
  background-color: #d2d2d2; }

.options-form {
  margin: 0rem auto 0 auto;
  width: 50%;
  padding: 1rem 2.5%; }
  @media screen and (max-width: 800px) {
    .options-form {
      width: 90%; } }

.options-form__fieldset {
  border: none;
  text-align: center;
  display: block; }

.options-form__legend {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold; }

.options-form__label {
  text-align: center;
  display: block;
  margin: 0.5rem; }

.options-form__input, .options-form__select {
  margin: 0 auto;
  width: 50%;
  display: block;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid black; }
  @media screen and (max-width: 800px) {
    .options-form__input, .options-form__select {
      width: 90%; } }

.options-form__select {
  width: 53%;
  padding: 0.4rem 0.5rem; }

.bonus-materials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem; }
  @media screen and (max-width: 800px) {
    .bonus-materials {
      margin-top: 2rem; } }

.bonus-materials__title {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center; }

.bonus-materials__description {
  margin-top: 0; }
  @media screen and (max-width: 800px) {
    .bonus-materials__description {
      font-size: 1.4rem;
      margin: 0.5rem 0;
      padding: 0 1rem;
      text-align: center; } }

.bonus-materials__link {
  display: block;
  color: #333333; }
  @media screen and (max-width: 800px) {
    .bonus-materials__link {
      font-size: 1.4rem;
      margin: 0.5rem 0;
      padding: 0 1rem;
      text-align: center; } }

.footer {
  margin: 10px 0 5px 0; }

.footer__text {
  font-size: 1.2rem; }

.footer__link {
  color: #333333;
  text-decoration: none; }
  .footer__link:hover {
    text-decoration: underline; }

html {
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #333; }

.overflow-on {
  overflow-x: hidden;
  overflow-y: auto; }

.overflow-off {
  overflow-x: hidden;
  overflow-y: hidden; }

.github-button {
  position: fixed;
  top: 2rem;
  left: 2rem; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.container__title {
  color: #333333;
  margin-top: 5rem;
  margin-bottom: 0; }
  @media screen and (max-width: 800px) {
    .container__title {
      margin: 1rem 1rem 2rem 1rem;
      font-size: 2.5rem; } }

.container__subtitle {
  margin: 0;
  font-size: 1.6rem; }
  @media screen and (max-width: 800px) {
    .container__subtitle {
      font-size: 1.4rem;
      margin: 0.5rem 0;
      padding: 0 1rem;
      text-align: center; } }
  .container__subtitle--bold {
    font-weight: bold;
    margin-top: 1rem; }

.section {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (min-width: 1201px) {
    .section {
      width: 117rem; } }
  @media screen and (max-width: 1200px) {
    .section {
      width: 100%; } }

.section__title {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: center; }

.github-stars {
  position: fixed;
  top: 1.5rem;
  left: 1rem; }
  @media screen and (max-width: 800px) {
    .github-stars {
      position: static;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-top: 1rem; } }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  text-indent: 1rem;
  padding: 1rem; }
